In [1]:
# Sets
# no indexing
# multiple but no duplicate data
# unordered and mutable unordered vaneko chai value programmer le lekheko order ma hudaina 
# define garna curly bracket ma key value pair nagari sidhai value matra diyo vane sets 
# like: s={1,2,3,4,5,6}

In [4]:
s={1,2,3,4,5,6}
a={'Apple','Ball','Cat','Dog','Fish'}
print(s)
print(a)
a

{1, 2, 3, 4, 5, 6}
{'Ball', 'Cat', 'Fish', 'Apple', 'Dog'}

{'Apple', 'Ball', 'Cat', 'Dog', 'Fish'}

In [3]:
s={1,2,1,2,4,5,7,6,3,4,5,6}#3duplicate values haru lai support gardaina 
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Data types inside sets
# inside sets there should be no mutable data types like dictionary, lists, sets etc. Sets vitra only immutable data like integer,string,tuple etc

In [5]:
# operators :
# no + *  operations supported
a={'Apple','Ball','Cat','Dog','Fish'}
for i in a:
    print(i) #Yesma i ko value apple ball garera order ma hunna

Ball
Cat
Fish
Apple
Dog

In [7]:
#to concatinate sets we use add() function:
a=set() #initialize set
a.add("Hello")
a.add("World")
print(a)

{'World', 'Hello'}

In [8]:
s={1,2,3,4,5,6}
a={'Apple','Ball','Cat','Dog','Fish'}
a.update(s) #a ma chai b ko value update gardinxa
print(a)

{1, 'Ball', 2, 3, 4, 5, 'Cat', 'Fish', 6, 'Apple', 'Dog'}

In [9]:
#remove value
s={1,2,3,4,5,6}
a={'Apple','Ball','Cat','Dog','Fish'}
a.remove("Apple")
print(a)

{'Ball', 'Cat', 'Fish', 'Dog'}

In [13]:
apple={"Steve","Danny","Johnny","Pathan","Aakash"}
ms = {"Ram","Steve","Johnny","Shyam","Bill"}
U={'Johnny', 'Bill', 'Ram', 'Danny', 'Shyam', 'Aakash', 'Pathan', 'Steve','Ganesh','Hari','Gita'} #universal set

#intersection operations
print(apple.intersection(ms))

#union
print(apple.union(ms))

print("students working only in Apple",apple-ms)
print("students working only in Microsoft",ms-apple)

print("students who are unemployed ",U-apple.union(ms))

{'Johnny', 'Steve'}
{'Johnny', 'Bill', 'Ram', 'Danny', 'Shyam', 'Aakash', 'Pathan', 'Steve'}
students working only in Apple {'Pathan', 'Danny', 'Aakash'}
students working only in Microsoft {'Ram', 'Bill', 'Shyam'}
students who are unemployed  {'Hari', 'Ganesh', 'Gita'}

In [15]:
#set concepts and functions that can be performed in sets

a={1,2,3,4,5,6,7,8}
b={3,4,5,6}
print(a.issuperset(b)) #checks if a is superset of b
print(a.issubset(b)) #checks if a is subset of b
print(a.isdisjoint(b)) #checks if a and b are disjoint

True
False
False