In [1]:
# dictionary 
# syntax: 
# dictionary ={<key>:<value>,<key>:<value>,......}

In [4]:
d= { 'a':'Apple',
   'b':'ball',
   'c':'cat',
   'd':'Dog'}
print(d)
print(type(d))
print(d['a'])

{'a': 'Apple', 'b': 'ball', 'c': 'cat', 'd': 'Dog'}
<class 'dict'>
Apple

In [5]:
d= { 'a':'Apple',
   'b':'ball',
   'c':'cat',
   'd':'Dog',
   'a':'Hahaha'} #Last ko value le chai overwrite gardinxa
print(d)

{'a': 'Hahaha', 'b': 'ball', 'c': 'cat', 'd': 'Dog'}

In [7]:
d={}
d['a']='Apple'
d['b']='Goat'
d['c']='Cow'
print(d)

{'a': 'Apple', 'b': 'Goat', 'c': 'Cow'}

In [8]:
# WAP to create a dictionary taking name and phone as inputs from user
d={}
n=int(input("Enter n "))
for i in range(n):
    name=input("Enter name ")
    phone=input("Enter phone ")
    d[name]=phone
print(d)

Enter n 3
Enter name ram
Enter phone 987q38r73
Enter name Hari
Enter phone 9841726739
Enter name Shyam
Enter phone 9817280128
{'ram': '987q38r73', 'Hari': '9841726739', 'Shyam': '9817280128'}

In [11]:
d={'ram': '987q38r73', 'Hari': '9841726739', 'Shyam': '9817280128'}
for i in d:
    print(i) #prints keys
for j in d.values():#print values
    print(j)

ram
Hari
Shyam
987q38r73
9841726739
9817280128

In [13]:
d={'ram': '987q38r73', 'Hari': '9841726739', 'Shyam': '9817280128'}
for i in d.items():  #gives key value pair
    print(i)

('ram', '987q38r73')
('Hari', '9841726739')
('Shyam', '9817280128')

In [18]:
# Remove/delete key value pairs we use delete del ,pop()
d={'ram': '987q38r73', 'Hari': '9841726739', 'Shyam': '9817280128'}
del d['ram']
print(d)

{'Hari': '9841726739', 'Shyam': '9817280128'}

In [20]:
d={'ram': '987q38r73', 'Hari': '9841726739', 'Shyam': '9817280128'}
e=d.pop('ram')
print(e)

987q38r73

In [23]:
#multivalued dictionaries: for this we use lists inside dictionary
d={'a':['Kashyap',20,'9841987869'],'hari':'9867217687'}
print(d)
print(d['a'][0])

{'a': ['Kashyap', 20, '9841987869'], 'hari': '9867217687'}
Kashyap

In [25]:
# user saga magera dictionary banaune
d={}
n=int(input("Enter n: "))
for i in range(n):
    a=input("Enter name ")
    ntc=input("Enter ntc phone ")
    ncell=input("Enter ncell phone ")
    d[a]=[ntc,ncell]
print(d)

Enter n: 2
Enter name ram
Enter ntc phone 9814561516
Enter ncell phone 56432186141
Enter name dinesh
Enter ntc phone 3541531322
Enter ncell phone 3135145213
{'ram': ['9814561516', '56432186141'], 'dinesh': ['3541531322', '3135145213']}

In [31]:
#categorize names into a single list, age into single, address into single lists
d={'name':[],
   'age':[],
   'add':[]}
n=int(input("Enter n: "))
for i in range(n):
    a=input("Enter name ")
    b=int(input("Enter age "))
    c=input('Enter address ')
    d['name'].append(a)
    d['age'].append(b)
    d['add'].append(c)
print(d)

Enter n: 2
Enter name ram
Enter age 23
Enter address kapan
Enter name hari
Enter age 25
Enter address Dhapakhel
{'name': ['ram', 'hari'], 'age': [23, 25], 'add': ['kapan', 'Dhapakhel']}

In [33]:
d={'ram': ['9814561516', '56432186141'], 'dinesh': ['3541531322', '3135145213']}
print("The ntc number of ram is ",d['ram'][1])
print("The Ncell number of Dinesh is ",d['dinesh'][0])

The ntc number of ram is  56432186141
The Ncell number of Dinesh is  3541531322

In [36]:
d={'name': ['ram', 'hari'], 'age': [23, 25], 'add': ['kapan', 'Dhapakhel']}
for i in range(2):
    
    print(d['name'][i],d['age'][i],d['add'][i])

ram 23 kapan
hari 25 Dhapakhel

In [40]:
#dictonary into dictionary 
d={'ram': '9876828734', 'Hari': '9841726739', 'Shyam': '9817280128','dict':{ 'a':'Apple',
   'b':'ball',
   'c':'cat',
   'd':'Dog'}}
d
print(d)
print(d['dict']['a'])

{'ram': '9876828734',
 'Hari': '9841726739',
 'Shyam': '9817280128',
 'dict': {'a': 'Apple', 'b': 'ball', 'c': 'cat', 'd': 'Dog'}}

In [41]:
d={}
n=int(input("Enter n: "))
for i in range(n):
    a=input("Enter name ")
    b=int(input("Enter age "))
    c=input('Enter address ')
    d[i+1]={'name':a,'age':b,'add':c}
print(d)

Enter n: 3
Enter name kashyap
Enter age 21
Enter address Kapan
Enter name aliz
Enter age 21
Enter address kapan
Enter name Ram
Enter age 1000
Enter address Ayodhya
{1: {'name': 'kashyap', 'age': 21, 'add': 'Kapan'}, 2: {'name': 'aliz', 'age': 21, 'add': 'kapan'}, 3: {'name': 'Ram', 'age': 1000, 'add': 'Ayodhya'}}