In [1]:
# python collection 
# list
# tuple
# dictionary
# set

In [2]:
# lists
# -follows indexing
# -multiple and duplicate values
# -ordered
# -Mutable

In [3]:
a=[1,2,3,4,"Kashyap",10.2]
print(type(a))
print(a)
print(a[1:5])
print(a[0:6:2])

<class 'list'>
[1, 2, 3, 4, 'Kashyap', 10.2]
[2, 3, 4, 'Kashyap']
[1, 3, 'Kashyap']

In [4]:
b=['apple','ball','cat','apple','egg','ball'] #supports duplicate values
print(b)
print(b.count('apple'))

['apple', 'ball', 'cat', 'apple', 'egg', 'ball']
2

In [5]:
# operators in lists : * ; +
a=[1,2,3,4,5]
b=[8,9,10,11]
print(a+b)
print(a*2)

[1, 2, 3, 4, 5, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [6]:
l=[]
c= int(input("Enter n "))
for i in range(c):
    
    n=input("Enter the value ")
    l.append(n)
print(l)

Enter n 2
Enter the value 2
Enter the value 2
['2', '2']

In [7]:
l=[]
n=int(input("Enter n "))
for i in range(n):
    a=int(input("Enter a number"))
    l.insert(i,a)
print(l)
l.insert(4,"Kashyap") #inserts "Kashyap" at 3rd index of the list
print(l)

Enter n 2
Enter a number12
Enter a number13
[12, 13]
[12, 13, 'Kashyap']

In [8]:
l=[1,2,3,4,5,6]
a=[10,11,12]
l.extend(a) #l ma gayera update garxa extends le chai
print(l)

[1, 2, 3, 4, 5, 6, 10, 11, 12]

In [9]:
l=[2034,12444,4522,4492484,34242424,20]
print(max(l))
print(min(l))
print(sum(l))
l.sort()
print(l)
l.reverse() #string huda alphabetical order ma halxa
print(l)
a=[9,4,5,0,3,5]
print(a.sort()) #yo chai mildaina rahexa none dekhauxa

34242424
20
38753928
[20, 2034, 4522, 12444, 4492484, 34242424]
[34242424, 4492484, 12444, 4522, 2034, 20]
None

In [10]:
a=['ant','ball','egg','Papaya','Dog']
a.sort() #suruma chai capital letter vako lai rakhxa yesle priority order special caharacters > Capital letter > Small letter
print(a) 
#if else statements in list
if "ant" in a:
    print("yes")
else:
    print("No")

['Dog', 'Papaya', 'ant', 'ball', 'egg']
yes

In [6]:
#WAP to search any values in a list having no case sensitivity:
n=input("Enter a string that you want to search ")
a=['ant','ball','egg','Papaya','Dog']
for i in a:
    if i.lower()==n.lower():
        index=True
        break
    else:
        index=False
if index:
    print("Value found ")
else:
    print("not found")

Enter a string that you want to search ANT
Value found

In [19]:
# delete values from list:
# del pop(index) remove(element)
l=[1,2,3,4,5,6]
del l[2] #second index ma vako value lai delete gardinxa yesle 
print(l)
l.pop(-1)
l.pop(1)
print(l)
l.remove(4)
print(l)
a=[9,10,11,12,13,14]
del a[0:4] #0 deki 3 samma delete hunxa
print(a)
#update 
a[1]="KASHYAP"
print(a)
a[0:2]=["Update 1","Update 2"]
print(a)

[1, 2, 4, 5, 6]
[1, 4, 5]
[1, 5]
[13, 14]
[13, 'KASHYAP']
['Update 1', 'Update 2']

In [9]:
#WAP to remove multiple duplicate values from list
a=['apple','ball','bat','cat','apple','ball']
c[]=0
index=0
for i in a:
    c[index]=a.count(i)
    index+=1
print(a)

['cat']