In [5]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\annaconda\lib\site-packages (2.2.9)

In [11]:
import mysql.connector
#importing database
database=mysql.connector.connect(  #creating a sql connection 
host='localhost',
user='root',
password='',
database='python_db') #db name)
db=database.cursor()

In [5]:
db.execute("SELECT * FROM student")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Kashyap', 75.0, 75.0, 70.0, 62.5, 4.0)
(2, 'ram', 30.0, 15.0, 80.0, 65.0, 2.4)
(3, 'Hari', 50.0, 15.0, 80.0, 65.0, 3.4)
(4, 'sita', 80.0, 70.0, 100.0, 70.0, 4.0)

In [7]:
db.execute("SELECT name FROM student WHERE math >= 80") #yesto vitra sql query halne
data=db.fetchall()
for y in data:
    print(y)

('ram',)
('Hari',)
('sita',)

In [13]:
# Data insert  into database
db.execute("INSERT INTO `student` (`SN`, `name`, `physics`, `chemistry`, `math`, `english`, `grade`) VALUES (NULL, 'Deepak', '92', '100', '81', '22', '3.4');")
database.commit() #insert gareko values lai save garna ko lai yo kaam lagxa

In [14]:
db.execute("SELECT * FROM student")
result=db.fetchall()
for x in result:
    print(x)

(1, 'Kashyap', 75.0, 75.0, 70.0, 62.5, 4.0)
(2, 'ram', 30.0, 15.0, 80.0, 65.0, 2.4)
(3, 'Hari', 50.0, 15.0, 80.0, 65.0, 3.4)
(4, 'sita', 80.0, 70.0, 100.0, 70.0, 4.0)
(5, 'Kamala', 25.0, 100.0, 81.0, 22.0, 3.1)
(7, 'Deepak', 92.0, 100.0, 81.0, 22.0, 3.4)

In [15]:
db.execute("SELECT * FROM student")
result=db.fetchall()
for y in result:
    print(y)

(1, 'Kashyap', 75.0, 75.0, 70.0, 62.5, 4.0)
(2, 'ram', 30.0, 15.0, 80.0, 65.0, 2.4)
(3, 'Hari', 50.0, 15.0, 80.0, 65.0, 3.4)
(4, 'sita', 80.0, 70.0, 100.0, 70.0, 4.0)
(5, 'Kamala', 25.0, 100.0, 81.0, 22.0, 3.1)
(7, 'Deepak', 92.0, 100.0, 81.0, 22.0, 3.4)

In [22]:
name=input("Enter name\t")
phy=float(input("Enter marks in physics "))
chem=float(input("Enter chemistry marks "))
math=float(input("Enter  math marks "))
eng=float(input("Enter english marks "))
if phy <32 or chem<32 or math<32 or eng<32:
    grade = 0.0
    
    total=phy+math+chem+eng
    per=0
    print("Total:\t",total,"\t\tPercentage:\t",per)
    
else:
    total=phy+math+chem+eng
    per=total/4
    print("Total:\t",total,"\t\tPercentage:\t",per)
    if per >=80:
        grade = 3.6
    elif per>=70 or per<80:
        grade=3.2
    elif per>=60 or per<70:
        grade=2.8
    else:
        grade = 1.6
    
db.execute(f'''INSERT INTO `student` (`name`, `physics`, `chemistry`, `math`, `english`, `grade`) VALUES ({name}, {phy}, {chem}, {math}, {eng}, {grade});''')
database.commit()

Enter name	50
Enter marks in physics 50
Enter chemistry marks 50
Enter  math marks 50
Enter english marks 50
Total:	 200.0 		Percentage:	 50.0

In [23]:
db.execute("SELECT * FROM student")
result=db.fetchall()
for y in result:
    print(y)

(1, 'Kashyap', 75.0, 75.0, 70.0, 62.5, 4.0)
(2, 'ram', 30.0, 15.0, 80.0, 65.0, 2.4)
(3, 'Hari', 50.0, 15.0, 80.0, 65.0, 3.4)
(4, 'sita', 80.0, 70.0, 100.0, 70.0, 4.0)
(5, 'Kamala', 25.0, 100.0, 81.0, 22.0, 3.1)
(7, 'Deepak', 92.0, 100.0, 81.0, 22.0, 3.4)
(8, '50', 50.0, 50.0, 50.0, 50.0, 3.2)